h1 {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
    text-align: center;
    font-size: 100px;
    color: khaki;
    font-weight: bold;
    font-family: Helvetica;
}

.brush h2 {
    background-color: mediumspringgreen;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brush h3 {
    font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
}

.brush p {
    font-family: Helvetica;
    font-size: 14px;
}

.price {
    font-weight: bold;
    color: blue;
}

.frame h2 {
    background-color: lightcoral;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.frame h3 {
    font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
}

.frame p {
    font-family: Helvetica;
    font-size: 14px;
}

.paint h2 {
    background-color: skyblue;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.paint h3 {
    font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
}

.paint p {
    font-family: Helvetica;
    font-size: 14px;
}